# Env vars
export PATH=$HOME/.local/bin:$PATH
# Composer
picom &
# Network
nm-applet &
# Keyboard Layout
setxkbmap en &
# Automount Devices
udiskie -t &
# Wallpaper
feh --bg-scale Wallpapers/14.png &

# Screens
#!/bin/sh
#Modo 1
#xrandr --output eDP1 --primary --mode 1920x1080 --pos 1920x0 --rotate normal --output DP1 --off --output HDMI1 --off --output HDMI2 --mode 1920x1080 --pos 0x0 --rotate normal --output VIRTUAL1 --off &
#Modo 2
#xrandr --output eDP1 --primary --mode 1920x1080 --pos 0x0 --rotate normal --output DP1 --off --output HDMI1 --off --output HDMI2 --mode 1920x1080 --pos 1920x0 --rotate normal --output VIRTUAL1 --off &
#Modo espejo
#xrandr --output eDP1 --primary --mode 1920x1080 --pos 1920x0 --rotate normal --output DP1 --off --output HDMI1 --off --output HDMI2 --mode 1920x1080 --pos 1920x0 --rotate normal --output VIRTUAL1 --off
#Monitor manchas
xrandr --output eDP1 --primary --mode 1920x1080 --pos 1440x0 --rotate normal --output DP1 --off --output HDMI1 --off --output HDMI2 --mode 1440x900 --pos 0x0 --rotate normal --output VIRTUAL1 --off &
